
@{
	Layout = "_LayoutLobby";
}
<div class="main-content-container">
    <div class="main-content">
        <div class="bento-box-create-lobby">
            <div class="lobbyName-bento-box">
                <input type="text" id="lobby-name" placeholder="Enter lobby name">
            </div>
            <div class="bento-box-row">
              <div class="teamSize-bento-box">
                  <input type="number" id="team-size" min="2" placeholder="Enter team size">
              </div>
                <div class="lobbyPassword-bento-box">
                    <input type="password" id="lobby-password" placeholder="Optional: Enter password">
                </div>
            </div>
        </div>
    </div>
</div>