@page
@{
	Layout = "_LayoutLobby";
}
<div class="main-content-container">
    <div class="main-content">
        <div class="bento-box-create-lobby">
            <div class="playerCount-bento-box">
                <p id="player-count">1/10</p>
            </div>
            <div class="lobbyName-bento-box">
                <input type="text" id="lobby-name" placeholder="Enter lobby name">
            </div>
            <div class="lobbyPassword-bento-box">
                <input type="password" id="lobby-password" placeholder="Enter password">
            </div>
        </div>
    </div>
</div>