@{
    Layout = "_LayoutLobby";
}
<form method="post" asp-controller="GameLobby" asp-action="CreateGameLobby">
        <div class="main-content">
            <div class="bento-box-create-lobby">
                <div class="lobbyName-bento-box">
                    <input type="text" id="lobby-name" name="LobbyName" placeholder="Enter lobby name">
                </div>
                <div class="bento-box-row">
                    <div class="teamSize-bento-box">
                        <select id="team-size" name="AmountOfPlayers">
                            <option value="">Select team size</option>
                            @for (int i = 2; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="lobbyPassword-bento-box">
                        <input type="password" id="lobby-password" name="PasswordHash" placeholder="Optional: Enter password">
                    </div>
                </div>
                <input type="submit" value="Create Lobby" class="submit-button">
            </div>
        </div>
    </div>
</form>