@model GameLobbyModel

@{
    Layout = "_LayoutLobby";
}

<div class="parent-container">
    <div class="teams-container">
        <div class="team">
            <h2>TEAM ONE</h2>
            <ul class="team-members">
                <li>Player 1</li>
                <li>Player 2</li>
                <li>Player 3</li>
                <li>Player 4</li>
                <li>Player 5</li>
            </ul>
        </div>
        <div class="team">
            <h2>TEAM TWO</h2>
            <ul class="team-members">
                <li>Player 1</li>
                <li>Player 2</li>
                <li>Player 3</li>
                <li>Player 4</li>
                <li>Player 5</li>
            </ul>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h2 id="chat-title">Group Chat</h2>
        </div>
        <div class="chat-messages">
            <div class="message">
                <span class="sender">User1</span>
                <p class="text">Hello, this is a placeholder message.</p>
            </div>
            <div class="message">
                <span class="sender">User2</span>
                <p class="text">This is another placeholder message.</p>
            </div>
        </div>
        <div class="Lobbychat-input">
            <input type="text" id="chat-text-input" placeholder="Type your message here..."/>
            <button id="send-chat-btn">Send</button>
        </div>
    </div>
</div>
