@page
@model WebClient.Views.Homepage

@{
    Layout = "_LayoutGameClient";
}
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Wireframe Example</title>
</head>
<body>
    <div class="welcome-banner">
        <h1>Welcome <span class="inGameName">@ViewBag.InGameName</span></h1>
    </div>
    <header>
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosa legendos at vix ad putent delectus delicata usu.</p>
        <button>Learn More</button>
    </header>
    <main>
        <div class="small-image-container">
            <a href="#" class="image-wrapper">
                <img src="~/assets/homeImage1.jpg">
                <p class="image-text">Patch 5.10 notes</p>
                <p class="image-small-text">Patch 5.10 notes</p>
            </a>
            <a href="#" class="image-wrapper">
                <img src="~/assets/homeImage2.png">
                <p class="image-text">Small image text</p>
                <p class="image-small-text">Patch 5.10 notes</p>
            </a>
            <a href="#" class="image-wrapper">
                <img src="~/assets/homeImage3.jpg">
                <p class="image-text">New items in shop!</p>
                <p class="image-small-text">Patch 5.10 notes</p>
            </a>
        </div>
    </main>
</body>

