@{
	Layout = "_LayoutGameClient";
}
@section Styles {
	<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

<div class="welcome-banner">
	<h1>Welcome <span class="inGameName">@ViewBag.InGameName</span></h1>
</div>
<header>
	<h1>Lorem ipsum</h1>
	<p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosa legendos at vix ad putent delectus delicata usu.</p>
	<button>Learn More</button>
</header>
<main>
	<div class="small-image-container">
		<a href="#" class="image-wrapper">
			<img src="~/assets/homeImage1.jpg">
			<div class="text-container">
				<p class="image-text">Patch 5.10 notes</p>
				<p class="image-small-text">Take some time to read the latest set of patch notes!</p>
			</div>
		</a>
		<a href="#" class="image-wrapper">
			<img src="~/assets/homeImage2.png">
			<div class="text-container">
				<p class="image-text">The fall of assassins</p>
				<p class="image-small-text">Press 'F1' to assassinate</p>
			</div>
		</a>
		<a href="#" class="image-wrapper">
			<img src="~/assets/homeImage3.jpg">
			<div class="text-container">
				<p class="image-text">New items in shop!</p>
				<p class="image-small-text">New profile pictures and emojis</p>
			</div>
		</a>
	</div>
</main>

