@page
@model WebClient.Views.HomepageTest

@{
    Layout = "_LayoutGameClient";
}
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

<div>
<h1> HEJ THOMAS DIN NAR</h1>
</div>

