@page
@model WebClient.Views.Homepage

@{
    Layout = "_LayoutGameClient";
}
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
}

<div>
    <h1> Welcome <span class="inGameName">@ViewBag.InGameName</span> </h1>
</div>

