@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@page "/SignalRClient"
<h3>SignalR Client</h3>

<p>@message</p>

@code {
    private HubConnection hubConnection;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gameHub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            this.message = $"{user}: {message}";
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}