
/* ---- MAIN CONTENT TIL HOMEPAGE */
.main-content-container {
    flex: 1;


}

.main-content {
    padding: 25px;
    font-weight: 400;
}

.main-content h1 {
    font-size: 25px;
}

.inGameName{
    font-size: 30px;
    font-weight: 900;
}
