/* Reset some default styles */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 30000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(62, 174, 244, 0.84);
    overflow-x: hidden;
    overflow-y: hidden;
}


/* Style for the header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 23, 23);
    padding: 10px 20px;
    height: 80px;

}

.left-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-decoration: none;
    background-color: rgba(62, 174, 244, 0.84);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for the left menu icons */
.left-menu img {
    width: 24px;
    height: 24px;

}
.left-menu p {
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 30000;
}

/* Style for the "PLAY" button */
.play-button {
    background-color: rgba(62, 174, 244, 0.84);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: none;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

/* Style for the right menu */
.right-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-section .text-section {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 30000;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* Style for the profile picture */
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.text-section .status-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Style for the level, name, status, and custom message */
.level, .name, .status, .custom-message {
    margin-bottom: 5px;
}

/* -------- Social ---------- */
.social-pane {
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100% - 80px); /* Subtract the height of the navbar */
    width: 200px;
    overflow-y: auto;
    background-color: rgb(23, 23, 23);
    padding: 20px;
    margin-top: 20px

}

/* Style for the friend list */
.friend-list {
    list-style-type: none;
    padding-left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.friend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.main-content-container {
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    top: 80px;
    height: calc(100vh - 80px); /* Subtract the height of the navbar */
    width: calc(100% - 200px); /* Subtract the width of the social pane */
    padding: 20px;
}

.main-content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    font-size: 18px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 20px;
}

/* Style for the friend's icon */
.friend img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}