
/* ---- MAIN CONTENT TIL HOMEPAGE */


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('/assets/homePicture.jpg');
    background-repeat:no-repeat;
    background-position: right;
    background-size: 85%;
    overflow: hidden;
}

.welcome-banner {
    padding: 25px;
    font-weight: 400;   
}

.welcome-banner h1 {
    font-size: 25px;
}

.inGameName{
    font-size: 30px;
    font-weight: 900;
}


/* Header styles */
header {
    margin-top: 100px;
    padding: 20px;
    text-align: Left;
}

header h1 {
    font-size: 40px;
    font-weight: 900;
    color: #f4f4f4;
}

    header p {
        font-size: 16px;
        font-weight: 300;
        color: #f4f4f4;
        width: 40%;
    }

    header button {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 700;
        background-color: rgb(0, 123, 255, 0.8);
        color: #f4f4f4;
        border: none;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.4s ease-in-out;
    }

        header button:hover {
            background-color: #007bff;
            cursor: pointer;
            transform: scale(1.02);
            transition: transform 0.4s ease-in-out;
        }

/* Main section styles */
main {
    text-align: center;
    margin-top: 85px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.small-image-container {
    display: flex;
    justify-content: space-between;
}

    .small-image-container .image-wrapper {
        position: relative;
        width: calc(100% / 3);
        height: auto;
        margin: 10px;
        overflow: hidden;
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
    }

        .small-image-container .image-wrapper:hover {
            transform: scale(1.02);
            transition: transform 0.4s ease-in-out;
        }

        .small-image-container .image-wrapper img {
            width: 100%;
            height: 200px;
            border-radius: 10px;
        }

        .small-image-container .image-wrapper .text-container {
            position: absolute;
            text-align: left;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .small-image-container .image-wrapper .image-text {
            font-size: 13px;
            font-weight: 700;
            color: white;
            padding: 5px 0;
            margin-bottom: -5px;
            margin-left: 5px;
        }

        .small-image-container .image-wrapper .image-small-text {
            font-size: 10px;
            color: white;
            padding: 5px 0;
            margin-bottom: 2px;
            margin-left: 5px;
        }
