body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: rgb(23, 23, 23);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgb(16, 16, 16);
    backdrop-filter: blur(90%); /* Frosted glass effect, not sure if working properly*/
    overflow-x: hidden;
}
body, .container {
    overflow-y: hidden; /* Disable vertical scrolling for the rest of the page*/
}

.left-panel {
    min-width: 300px;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    margin-left: 30px;
    height: 60vh;
    overflow-y: hidden;
    transform: translateY(-20%);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.links a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #d1d1d1;
    transition: color 0.6s ease-out, transform 0.4s cubic-bezier(0.13, 0.76, 0, 1.17);
    margin: 10px auto;
}

.links a:hover {
    color: #ffffff;
    transform: scale(1.05);
}

h1 {
    font-size: 37px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #ffffff;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: white;
    font-size: 12px;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid rgba(209, 209, 209, 0);
    border-radius: 5px;
    width: 93%; /* textfield length */
    transition: all 0.3s cubic-bezier(0.82,-0.1, 0.33, 1.35);
    background-color: rgb(23, 23, 23);
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="password"]:focus {
    transform: scale(1.05);
    outline: none; /* Remove blue and white border on focus */
    caret-color: transparent;
    caret-shape: underscore;
    font-size: 12px;


}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

input[type="text"].error,
input[type="password"].error {
    animation: shake 0.5s; /* Shake on error, but doesnt work??? */
}

.username-textfields {
    margin-bottom: -1px;
}

.password-textfields {
}

button {
    background-color: #007bff;
    font-family: "Poppins", sans-serif;
    color: #f4f4f4;
    /* margins er iffy atm */
    margin: 50px 80px auto;
    margin-bottom: 10px;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.6s cubic-bezier(0.49,-0.36, 0, 0.94),
    background-color 1s cubic-bezier(0.85,-0.27, 0, 1.41),
    transform 0.4s cubic-bezier(0.6,-0.46, 0.3, 2.02);
}
button:hover {
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
}

button:disabled {
    background-color: rgb(23, 23, 23);
    cursor: default;
}
button:not(:disabled):hover {
    color: #ffffff;
    background-color: #007bff;
    transform: scale(1.08);
    cursor: pointer;
}

button#submit-button.pressed {
    transform: scale(0.99);
    transition: transform 0.1s ease-out;
}

.checkbox-label-group {
    display: flex;
    align-items: center;
}

.checkbox-label-group input[type="checkbox"] {
    margin-right: 10px;
    height: 12px;
    width: 12px;
}


/* Right panel (profile picture) */
.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2000%;
    height: 120%;
    /* border-radius: 120px; */
    background-color: rgb(23, 23, 23);
    margin-left: 50px;
    margin-right: 0;
}

.profile-picture img {
    width: 70vh;
    height: 70vh;
    border-radius: 5px;
    /* background-color: rgb(25, 23, 23); */
    color: rgb(23, 23, 23);
    margin-left: 5%;
    margin-right:5%;
}


#stay-signed-in {
    transition: color 0.6s ease, background-color 0.4s ease, transform 0.4s cubic-bezier(0.13, 0.76, 0, 1.17);
}

#stay-signed-in:hover {
    color: #0f0f13;
    background-color: #000000;
    transform: scale(1.1);
    border-radius: 5px;
}

