body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 300px;
    margin: auto;
}

    .container h2 {
        color: red;
    }

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    margin: 5px;
}

.button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    .button:hover {
        opacity: 0.8;
    }

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.go-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    background-color: lightcoral;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px; /* Adjust this value to change the roundness of the corners */
}

input.input-validation-error {
    border: 1px solid red;
}

.text-danger {
    color:red;
}
