@{
    Layout = "";
    ViewData["Title"] = "Home Page";
}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/loginStyle.css">
          <!--<script src="js/login.js"></script> -->
      <title>Sign In</title>
    </head>
    <body>
    <div class="container">
        <div class="left-panel">
            <h1>Sign in</h1>
            <form asp-controller="Login" asp-action="Index" method="post">
                <div class="textfields">
                    <div class="username-textfields">
                        <!--   <label for="username">Username:</label> -->
                        <input type="text" id="username" name="UserName" placeholder="USERNAME" required>
                    </div>
                    <div class="password-textfields">
                        <!--   <label for="password">Password:</label> -->
                        <input type="password" id="password" name="Password" placeholder="PASSWORD" required>
                    </div>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-label-group">
                        <input type="checkbox" id="stay-signed-in" name="stay-signed-in" >
                        <label for="stay-signed-in">Stay signed in</label>
                    </div>
                </div>
                <button type="submit" id="submit-button">Sign in</button>
            </form>
            <div class="links">
                <a href="#">Forgot password?</a>
                <a href="#">Create account!</a>
            </div>
        </div>
        <div class="right-panel">
            <div class="profile-picture">
                <!-- Placeholder for user profile picture -->
               <img src="~/assets/maskot.png" alt="The image could not be loaded." draggable="false">
            </div>
        </div>
    </div>
    </body>


