<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	@RenderSection("Styles", required: false)
	<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/gameLobbyStyle.css" />
	<link rel="stylesheet" href="~/css/Lobby/gameLobbyStyle.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<div class="section" id="section-1">
				<div class="bento-box" id="bento-box-1">
					<a asp-controller="GameLobby" asp-action="JoinLobby" class="menu-item">
						<img src="~/assets/maskot.png" alt="Play">
						<div class="text" id="play-text">PLAY</div>
					</a>
				</div>
				<div class="bento-box" id="bento-box-2">
					<a href="profile.html" class="menu-item">
						<img src="~/assets/maskot.png" alt="Profile">
						<div class="text" id="profile-text">PROFILE</div>
					</a>
				</div>
				<div class="bento-box" id="bento-box-3">
					<a href="collection.html" class="menu-item">
						<img src="~/assets/maskot.png" alt="Collection">
						<div class="text" id="collection-text">COLLECTION</div>
					</a>
				</div>
				<div class="bento-box" id="bento-box-4">
					<a href="store.html" class="menu-item">
						<img src="~/assets/maskot.png" alt="Store">
						<div class="text" id="store-text">STORE</div>
					</a>
				</div>
			</div>
			<div class="section" id="section-2">
				<div class="bento-box social" id="bento-social">
					<div class="icon library"></div>
					<div class="icon person"></div>
					<div class="icon search"></div>
					<label>
						<input type="text" placeholder="SEARCH">
					</label>
				</div>
			</div>
			<div class="friends">
				<div class="friend-list">
					<div class="bento-box" id="bento-box-6">
						<li class="friend">
							<img src="~/assets/maskot.png" alt="friend-img" id="friendPic1">
							<div>
								<p>Hydra</p>
								<span id="online">Online</span>
							</div>
						</li>
					</div>
				</div>
				<div class="bento-box" id="bento-box-7">
					<div class="friend">
						<img src="~/assets/maskot.png" alt="friend-img" id="friendPic2">
						<div>
							<p>ap144</p>
							<span>Offline</span>
						</div>
					</div>
				</div>
				<div class="bento-box" id="bento-box-8">
					<div class="friend">
						<img src="~/assets/maskot.png" alt="friend-img" id="friendPic3">
						<div>
							<p>Cesse</p>
							<span>Offline</span>
						</div>
					</div>
				</div>
				<div class="bento-box" id="bento-box-9">
					<div class="friend">
						<img src="~/assets/maskot.png" alt="friend-img" id="friendPic4">
						<div>
							<p>niko</p>
							<span>Offline</span>
						</div>
					</div>
				</div>
				<div class="bento-box" id="bento-box-10">
					<div class="friend">
						<img src="~/assets/maskot.png" alt="friend-img" id="friendPic5">
						<div>
							<p>Raden</p>
							<span>Offline</span>
						</div>
					</div>
				</div>
				<div class="bento-box" id="bento-box-11">
					<div class="friend">
						<img src="~/assets/maskot.png" alt="friend-img" id="friendPic6">
						<div>
							<p>Kimbokastekniv</p>
							<span>Offline</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content-container">
			<div class="main-content">
				@RenderBody()
			</div>
		</div>
	</div>
</body>
</html>