<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @RenderSection("Styles", required:false)
     <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>
<body>
<div class="header">
    <div class="left-menu">
        <a href="store.html" class="menu-item">
            <img src="assets/maskot.png" alt="Store">
            <p>Store</p>
        </a>
        <a href="collection.html" class="menu-item">
            <img src="assets/maskot.png" alt="Collection">
            <p>Collection</p>
        </a>
        <a href="profile.html" class="menu-item">
            <img src="assets/maskot.png" alt="Profile">
            <p>Profile</p>
        </a>
    </div>
    <button class="play-button">PLAY</button>
    <div class="right-menu">
  <div class="profile-section">
              <div class="left-section">
                  <img class="profile-pic" src="/maskot.png" alt="Profile Picture">
                  <p class="level">420</p>
              </div>
              <div class="right-section">
                  <p class="name"> murkch </p>
                  <div class="status-message">
                      <p class="status"> online </p>
                      <p class="custom-message">snusipikken</p>
                  </div>
              </div>
          </div>
        <div class="social-pane">
            <ul class="friend-list">
                <li class="friend">
                    <img src="assets/maskot.png" alt="Hydra Icon">
                    <p>Hydra</p>
                    <span>Offline</span>
                </li>
                <li class="friend">
                    <img src="assets/maskot.png" alt="ap144 Icon">
                    <p>ap144</p>
                    <span>Offline</span>
                </li>
            </ul>
        </div>
        <div class="main-content-container">
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>




</body>
</html>