@{
    Layout = "_LayoutGameClient";
   
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/lobby/createLobbyStyle.css" />
}

<div class="createOrJoinHeader">
    <a asp-controller="GameLobby" asp-action="CreateLobby">Create Custom Lobby</a>
    <a asp-controller="GameLobby" asp-action="JoinLobby">Join Custom Lobby</a>
</div>

<div>
    @RenderBody()
</div>
