@{
    Layout = "_LayoutGameClient";
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/lobby/createLobbyStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/lobby/joinLobbyStyle.css" />
}
@RenderSection("Styles", required: false)

<div class="header-layout-lobby">
    <a asp-controller="GameLobby" asp-action="CreateLobby">Create Custom Lobby</a>
    <a asp-controller="GameLobby" asp-action="JoinLobby">Join Custom Lobby</a>
</div>

<div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</div>

<div class="footer-layout-lobby">
    <a asp-controller="Homepage" asp-action="Homepage" class="menu-item">
        <button class="btn btn-dark">
            <i class="bi bi-x"></i>
        </button>
    </a>

    @if (action == "JoinLobby" && controller == "GameLobby")
    {
        <button class="btn btn-dark">
            Join Custom Lobby
        </button>
    }
    else if (action == "CreateLobby" && controller == "GameLobby")
    {
        <button class="btn btn-dark">
            Create Custom Lobby
        </button>
    }
</div>